.about {
    padding: 60px 20px;
    text-align: center;
}

.about-container {
    max-width: 800px;
    margin: auto;
}

.about-title {
    text-align: center;
}

.about-text {
    margin-top: 20px;
    line-height: 1.6;
}

.about h3 {
    font-size: 25px;
    margin: 3rem 0 15px;
    font-weight: 500
}

.about ul {
    margin-bottom: 2rem;
    list-style-type: none;
    line-height: 2;
}